@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-image: url("https://wallpapercave.com/wp/wp11283622.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  color: gold;
}
